.sidebar {
    .personal-info {
        .data-list {
            .data-item {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }

                h5 {
                    color: var(--white-half);
                    font-weight: var(--fw-medium);
                    font-size: 14px;
                }

                div {
                    color: #fff;

                    a {
                        color: #fff;
                        &:hover,
                        &:focus {
                            color: var(--secondary);
                        }
                    }
                }
            }
        }
    }
}

.content {
    .personal-info {
        .data-list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;

            .data-item {
                flex: 1 0 100%;
                max-width: 50%;
                padding: 0 15px;
                margin-bottom: 20px;

                &.full-item {
                    max-width: 100%;
                }

                @media (max-width: 767.98px) {
                    max-width: 100%;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                h5 {
                    color: var(--primary-half);
                    font-weight: var(--fw-medium);
                    font-size: 14px;
                }

                div {
                    color: var(--primary);

                    a {
                        color: var(--link);
                        &:hover,
                        &:focus {
                            color: var(--link);
                        }
                    }
                }
            }
        }
    }
}
