.content {
    .projects {
        .list {
            .item {
                margin-bottom: 10px;

                &::marker {
                    color: var(--primary-half);
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
