.content {
    .declare {
        .name {
            font-size: 40px;
            font-weight: var(--fw-medium);
            text-align: right;
            margin-top: 80px;
            font-family: var(--font-signature);
            padding-right: 40px;

            @media (max-width: 575.98px) {
                padding-right: 0;
                text-align: left;
                margin-top: 50px;
            }
        }
    }
}
