.sidebar {
    .references {
        .list {
            .item {
                margin-bottom: 40px;
                .info {
                    margin-bottom: 20px;
                    .name {
                        font-size: 22px;
                        font-weight: var(--fw-medium);
                    }
                    .designation {
                        font-size: 14px;
                        font-weight: var(--fw-light);
                    }
                }

                .data-list {
                    .data-item {
                        margin-bottom: 20px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        h5 {
                            color: var(--white-half);
                            font-weight: var(--fw-medium);
                            font-size: 14px;
                        }

                        div {
                            color: #fff;
                            a {
                                color: #fff;
                                &:hover,
                                &:focus {
                                    color: var(--secondary);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.content {
    .references {
        .list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;

            .item {
                flex: 1 0 100%;
                max-width: 50%;
                padding: 0 15px;

                @media (max-width: 767.98px) {
                    max-width: 100%;
                    margin-bottom: 30px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .info {
                    margin-bottom: 30px;
                    position: relative;
                    .name {
                        font-size: 22px;
                        font-weight: var(--fw-medium);

                        @media (max-width: 575.98px) {
                            font-size: 20px;
                        }
                    }
                    .designation {
                        font-size: 14px;
                        font-weight: var(--fw-medium);
                        color: var(--primary-half);
                    }

                    &::after {
                        content: '';
                        height: 2px;
                        width: 50px;
                        background: var(--secondary);
                        position: absolute;
                        top: auto;
                        bottom: -10px;
                        left: 0;
                    }
                }

                .data-list {
                    .data-item {
                        margin-bottom: 20px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        h5 {
                            color: var(--primary-half);
                            font-weight: var(--fw-medium);
                            font-size: 14px;
                        }

                        div {
                            color: var(--primary);

                            a {
                                color: var(--link);

                                &:hover,
                                &:focus {
                                    color: var(--link);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
