.navigation {
    .action {
        display: flex;
        .close {
            display: inline-flex;
            margin-left: auto;
            border: 0;
            outline: 0;
            color: #fff;
            background: transparent;
            opacity: 0.4;
            transition: all 300ms;

            &:hover {
                opacity: 1;
            }
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            border-bottom: 1px solid #232753;
            &:last-child {
                border-bottom: 0;
            }
            a {
                display: flex;
                padding: 10px 0;
                color: #fff;

                &:hover,
                &:focus {
                    color: var(--secondary);
                }
            }
        }
    }
}
