.header {
    background: var(--primary-light);
    min-height: 100px;
    padding: 20px 60px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: all 300ms;

    &.fixed {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background: #fff;
    }

    @media (max-width: 991.98px) {
        padding: 20px 40px;
    }

    @media (max-width: 767.98px) {
        padding: 15px 30px;
    }

    @media (max-width: 575.98px) {
        padding: 10px 20px;
        min-height: 80px;
    }

    .toggle {
        font-size: 25px;
        cursor: pointer;

        @media (max-width: 575.98px) {
            font-size: 21px;
        }

        i {
            line-height: 0;
            margin: auto;
        }
    }
    .profile-picture {
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 0;

        @media (max-width: 575.98px) {
            margin-left: 15px;
        }

        .picture {
            width: 50px;
            height: 50px;

            @media (max-width: 575.98px) {
                width: 40px;
                height: 40px;
            }
        }
    }

    .intro {
        margin-left: 20px;
        margin-top: 0;
        .name {
            font-size: 22px;
            line-height: 1.2;
        }
        .designation {
            font-size: 14px;
            font-weight: var(--fw-medium);
            line-height: 1.4;
        }
        .experience {
            font-size: 12px;
            line-height: 1.4;
        }
    }

    .action {
        margin-left: auto;
        display: inline-flex;
        align-items: center;

        a {
            text-decoration: none;
            display: inline-flex;
            color: var(--primary);
            margin-left: 50px;

            @media (max-width: 991.98px) {
                flex-direction: column;
                justify-content: center;
            }

            @media (max-width: 767.98px) {
                margin-left: 30px;
            }

            @media (max-width: 575.98px) {
                margin-left: 20px;
            }

            i {
                font-size: 22px;
                margin: auto;

                @media (max-width: 575.98px) {
                    font-size: 18px;
                }
            }

            span {
                margin-left: 15px;
                font-weight: var(--fw-medium);
                font-size: 14px;

                @media (max-width: 991.98px) {
                    margin-left: 0;
                    margin-top: 5px;
                }

                @media (max-width: 575.98px) {
                    font-size: 12px;
                }
            }
        }
    }
}
