.header {
  background: var(--primary-light);
  min-height: 100px;
  padding: 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.header.fixed {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

@media (max-width: 991.98px) {
  .header {
    padding: 20px 40px;
  }
}

@media (max-width: 767.98px) {
  .header {
    padding: 15px 30px;
  }
}

@media (max-width: 575.98px) {
  .header {
    padding: 10px 20px;
    min-height: 80px;
  }
}

.header .toggle {
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .header .toggle {
    font-size: 21px;
  }
}

.header .toggle i {
  line-height: 0;
  margin: auto;
}

.header .profile-picture {
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 575.98px) {
  .header .profile-picture {
    margin-left: 15px;
  }
}

.header .profile-picture .picture {
  width: 50px;
  height: 50px;
}

@media (max-width: 575.98px) {
  .header .profile-picture .picture {
    width: 40px;
    height: 40px;
  }
}

.header .intro {
  margin-left: 20px;
  margin-top: 0;
}

.header .intro .name {
  font-size: 22px;
  line-height: 1.2;
}

.header .intro .designation {
  font-size: 14px;
  font-weight: var(--fw-medium);
  line-height: 1.4;
}

.header .intro .experience {
  font-size: 12px;
  line-height: 1.4;
}

.header .action {
  margin-left: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .action a {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--primary);
  margin-left: 50px;
}

@media (max-width: 991.98px) {
  .header .action a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .header .action a {
    margin-left: 30px;
  }
}

@media (max-width: 575.98px) {
  .header .action a {
    margin-left: 20px;
  }
}

.header .action a i {
  font-size: 22px;
  margin: auto;
}

@media (max-width: 575.98px) {
  .header .action a i {
    font-size: 18px;
  }
}

.header .action a span {
  margin-left: 15px;
  font-weight: var(--fw-medium);
  font-size: 14px;
}

@media (max-width: 991.98px) {
  .header .action a span {
    margin-left: 0;
    margin-top: 5px;
  }
}

@media (max-width: 575.98px) {
  .header .action a span {
    font-size: 12px;
  }
}
/*# sourceMappingURL=header.css.map */