.sidebar {
    .experience {
        .list {
            .item {
                display: flex;
                border-bottom: 1px solid var(--border);
                padding-top: 20px;
                padding-bottom: 20px;
                margin-bottom: 0;
                max-width: 80%;

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    padding-bottom: 0;
                    border-bottom: 0;
                }
            }
        }
    }
}

.content {
    .experience {
        .list {
            margin-bottom: 70px;
            .item {
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid var(--border);
                padding-top: 20px;
                padding-bottom: 20px;
                margin-bottom: 0;
                max-width: 80%;

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    padding-bottom: 0;
                    border-bottom: 0;
                }

                .col-one {
                    margin-right: 30px;
                    flex: 0 0 180px;
                    min-width: 180px;
                    position: relative;

                    h3 {
                        font-size: 16px;
                        margin-bottom: 5px;
                        line-height: 2.2;
                    }

                    div {
                        font-size: 14px;
                        font-weight: var(--fw-medium);
                        color: var(--primary-half);
                    }
                }

                .col-two {
                    flex: 1 0 auto;
                    max-width: 100%;
                    h3 {
                        font-size: 22px;
                        margin-bottom: 5px;
                    }

                    div {
                        font-size: 14px;
                        font-weight: var(--fw-medium);
                        color: var(--primary-half);
                    }
                }
            }
        }
    }
}
