a {
  text-decoration: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  outline: 0;
  border: 0;
}

a:hover {
  text-decoration: underline;
}

.main-container {
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 100%;
}

.sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
  min-width: 400px;
  padding: 40px 60px;
  background: var(--primary);
  color: #fff;
}

@media (max-width: 1199.98px) {
  .sidebar {
    position: fixed;
    padding: 30px;
    top: 0;
    left: -100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
            flex: 0 0 280px;
    min-width: 280px;
    max-width: 280px;
    height: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 500ms;
    transition: all 500ms;
    z-index: 2;
    overflow-x: auto;
  }
  .sidebar.open {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.sidebar section {
  margin-bottom: 60px;
}

.sidebar section:last-child {
  margin-bottom: 0;
}

.sidebar section .heading {
  text-transform: uppercase;
  font-weight: var(--fw-semibold);
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--secondary);
}

.content {
  padding: 40px 60px;
  background: #fff;
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .content {
    padding: 40px;
  }
}

@media (max-width: 767.98px) {
  .content {
    padding: 30px;
  }
}

@media (max-width: 575.98px) {
  .content {
    padding: 20px;
  }
}

.content section {
  margin-bottom: 60px;
}

@media (max-width: 767.98px) {
  .content section {
    margin-bottom: 40px;
  }
}

@media (max-width: 575.98px) {
  .content section {
    margin-bottom: 30px;
  }
}

.content section:last-child {
  margin-bottom: 0;
}

.content section .heading {
  text-transform: uppercase;
  font-weight: var(--fw-semibold);
  font-size: 24px;
  margin-bottom: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 20px;
  background: var(--secondary);
  color: var(--primary);
  position: relative;
  border-radius: 2px;
}

.content section .heading::before, .content section .heading::after {
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.content section .heading::before {
  left: -5px;
  right: auto;
}

.content section .heading::after {
  left: auto;
  right: -5px;
}

@media (max-width: 767.98px) {
  .content section .heading {
    margin-bottom: 20px;
  }
}

@media (max-width: 575.98px) {
  .content section .heading {
    font-size: 20px;
  }
}

.content section .description {
  line-height: 1.8;
}
/*# sourceMappingURL=App.css.map */