// Extra Small devices (less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

//COMMON CLASSES
a {
    text-decoration: none;
    transition: all 300ms;
    outline: 0;
    border: 0;

    &:hover {
        text-decoration: underline;
    }
}

//PAGE CLASSES

.main-container {
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.wrapper {
    flex: 1 1 100%;
    max-width: 100%;
}

.sidebar {
    flex: 0 0 400px;
    min-width: 400px;
    padding: 40px 60px;
    background: var(--primary);
    color: #fff;

    section {
        margin-bottom: 60px;
        &:last-child {
            margin-bottom: 0;
        }

        .heading {
            text-transform: uppercase;
            font-weight: var(--fw-semibold);
            font-size: 24px;
            margin-bottom: 20px;
            color: var(--secondary);
        }
    }
}

.content {
    padding: 40px 60px;
    background: #fff;
    color: var(--primary);

    section {
        margin-bottom: 60px;
        &:last-child {
            margin-bottom: 0;
        }

        .heading {
            text-transform: uppercase;
            font-weight: var(--fw-semibold);
            font-size: 24px;
            margin-bottom: 30px;
            display: inline-flex;
            padding: 0 20px;
            background: var(--secondary);
            color: var(--primary);
        }
    }
}
